$headerHeight: 28px;
$sqHeaderPadding: 10px;

.queue{
  background: #fafafa;
  box-shadow: 0 4px 46px #020202;
}

.songList{
  overflow-y: auto;
  &.current{ height: calc(100% - 28px - 20px); }
  &.search{ height: calc(100% - 28px - 20px - 40px); }
}


.header{
  background-color: #273559;
  color: #fff;
  height: $headerHeight;
  padding: 10px;
  font-size: 14px;
}

.sqHeader{
  composes: header;
  padding: $sqHeaderPadding;
  .icons{
    box-sizing: border-box;
    padding: 2px 0;
    i{
      float: right;
      font-size: 26px;
      position: relative;
      top: -1px;
      padding: 0 4px;
      cursor: pointer;
    }
  }
}

.sources{
  background-color: #273559;
  color: #fff;
  height: 40px;
  background-color: rgb(39, 53, 89);
  color: white;
  font-size: 24px;
  i{
    padding: 0px 40px 10px;
    &.active{
      border-bottom: 2px solid #6fb0df;
    }
  }
}

.search{
  input {
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
    height: 20px;
    padding: 4px 8px;
  }
}

.cqInfo{
  position: relative;
  top: 4px;
  i{
    float: right;
    position: relative;
    top: -5px;
    font-size: 30px;
    cursor: pointer;
  }
}
