$headerHeight: 28px;
$sqHeaderPadding: 10px;


.currentQueueRoot{
  background-color: #e5e5e5;
  .pseudoHeader{
    height: 45px;
    background-color: #273559;
  }
  .queue{
    background-color: #f2f2f2;
    height: calc(100% - 52px - 135px - 45px);
  }
}
.search{
  background-color: white;
  border-radius: 4px;
}

.songList{
  overflow-y: auto;
  width: 100%;
  &.searchList{
    height: calc(100% - 97px);
    padding: 10px 20% 10px 14%;
  }
  &.current{ height: calc(100% - 50px); }
}


.header{
//  background-color: #273559;
//  color: #fff;
//  height: $headerHeight;
  padding: 10px;
  font-size: 14px;
}

.sqHeader{
  padding: 10px 20% 10px 14%;
  background-color: #273559;
  color: #fff;
  composes: header;
//  padding-bottom: 6px;
//  height: 42px;

  .search{
    width: calc(100% - 34px);
    display: inline-block;

    .autocomplete{padding: 0;}
    .focus{
      border: none;
      span, .bar{display: none;}
    }

    .input{
      padding: 0;
      &:after{display: none;}

      input{
        border-radius: 4px;
        outline: none;
        border: none;
        padding: 2px 8px;
        background-color: white;
        font-size: 12px;
        min-height: 20px!important;
        width: 100%!important;
        height: 25px!important;
        margin: 0!important;
      }

      .suggestions{
        top: 23px;
        color: #343434;
        padding: 0;
        margin: 0;
        .suggestion{
          padding: 4px;
          font-size: 12px;
        }
      }
    }

  }

  .icons{
    box-sizing: border-box;
    padding: 0;
    height: 25px;
    top: -1px;
    width: 34px;
    display: inline;
    float: right;
    position: relative;
    i{
      font-size: 26px;
      position: relative;
      padding: 0px 2px;
      cursor: pointer;
      &:first-child{ padding: 0px 8px;}
    }
  }
}

.cqHeader{
  padding: 16px 10px;
  font-size: 13px;
  height: 50px;
}

.sources{
  background-color: #273559;
  color: #fff;
  height: 42px;
  background-color: rgb(39, 53, 89);
  color: white;
  font-size: 26px;
  i{
    height: 39px;
    padding: 2px 34px;
    color: #a0a6b6;
    &.active{
      color: white;
      border-bottom: 2px solid #6fb0df;
    }
  }
}

.cqInfo{
  position: relative;
  top: 2px;
  padding-left: 12px;
  span{
    font-weight: 500;
    color: #626262;
    position: relative;
    top: 2px;
  }
  i{
    color: #6f6f6f;
    float: right;
    position: relative;
    top: -5px;
    font-size: 28px;
    cursor: pointer;
    padding-right: 6px;
    &.saveIcon{
      font-size: 19px;
      top: -1px;
    }
    &.disabled{
      color: darkgrey;
      cursor: default;
      pointer-events: none;
    }
  }
}

.ripple{
  composes: ripple from './effects.scss';
}
.progressLine{
  composes: progressLine from './effects.scss';
}
