.emptyQueue{
  color: #757575;
  position: relative;
  top: 24%;
  text-align: center;

  &.current{ top: calc(24% + 18px); }

  i{
    font-size: 20px;
    position: relative;
    top: 6px;
  }

  .bigIcon{
    color: #aeb7c1;
    font-size: 70px;
  }

}
