.snackbar{
  max-width: 140px;
  min-height: 140px;
}

.active{
  bottom: 40%;
  left: initial;
  right: initial;
  height: 140px;
  width: 140px;
  background-color: rgba(0, 0, 0, .7);
  padding: 12px 20px 28px;
}

.label{
  font-size: 14px;
  text-align: center;
  i{font-size: 90px;}
}
