.root{
  text-align: left;
  color: #333;
}

.npdng{padding: 0;}

.title{
  color: black;
  font-size: 16px;
}

.pName{width: 45%;}

.actionTitle{padding: 6px 0;}

.artworks{
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 26px;
  box-sizing: content-box;

  img{
    cursor: pointer;
    height: 88px;
    width: 88px;
    padding: 6px;
    object-fit: cover;
  }
  .selected{
    color: #333;
  }

  .upload{
    padding: 0;
    margin: 6px;
    height: 88px;
    width: 88px;
    text-align: center;
    color: #6e6e6e;
    cursor: pointer;

    .empty{
      border: 1px dashed #6e6e6e;
      border-radius: 10px;
      height: 100%;
      i{
        font-size: 60px;
        position: relative;
        left: 2px;
        top: 4px;
      }
      span{
        font-size: 11px;
        position: relative;
        top: -4px;
        color: black;
      }
    }

    input{
      cursor: pointer;
      position: absolute;
      top: 0;
      height: 88px;
      width: 88px;
      padding: 0;
      opacity: 0;
    }
  }
}

.tagsArea{
  .tag, .atag{
    display: inline-block;
    background-color: #4dc1f2;
    color: white;
    padding: 0px 12px 6px;
    border-radius: 60px;
    margin: 6px;
    font-size: 12px;
    i{
      top: 5px;
      left: 6px;
      position: relative;
      font-size: 19px;
    }
  }
  .atag{
    padding: 6px 12px;
    cursor: pointer;
  }
}

.autocomplete{
  width: 80%;
}

.actions{
  float: right;
  .done, .cancel{
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    line-height: 1;
    position: relative;
    cursor: pointer;
    border: 0;
    padding: 10px;
    outline: none;
    &:hover{background-color: #ddd;}
  }
  .done{color: #0093eb;}
  .cancel{color: #6e6e6e;}
}
