.empty{
  margin: 180px 0 30px;
  color: white;
  text-align: center;
  i{font-size: 72px;}
  span{font-size: 15px;}
}

.refresh{
  cursor: pointer;
  padding: 12px 26px;
  border-radius: 3px;
  border: none;
  background-color: #dfdfdf;
  margin: 0 0 40px;
}

.stream{
  background-color: white;
  padding: 0;
  margin-bottom: 24px;
	font-size: 13px;
  color: grey;

  .img{
    padding: 0;
    height: 100px;
  }
}

.playPause {
    position: absolute;
    top: 24px;
    left: 24px;

    :global(.material-icons){
      padding: 8px;
      font-size: 34px;
      color: #fff;
      position: relative;
      left: 2px;
      top: 2px;
      background-color: rgba(0, 0, 0, 0.45);
      border-radius: 60px;


      &:hover, &:active{ background-color: rgba(0, 0, 0, 0.8); }
    }
}

.textData{
  padding-left: 5px;
  height: 100px;

  .title{
    padding: 6px 0 0;
    color: #80c6f0;
    font-weight: 500;
    font-size: 14px;
  }

  .duration{
    color: #9a9a9a;
    font-size: 13px;
    letter-spacing: .5px;
    font-weight: 500;
    padding-top: 2px;
  }

  .llArea{
    top: 8px;
    position: relative;
    left: -2px;
  }

  .tags{
    position: absolute;
    bottom: 10px;
    width: 100%;
    .tag{
      color: #9a9a9a;
      font-weight: 600;
      margin-left: 0;
    }
  }

  .author{
    margin-top: 6px;
    font-size: 11px;
    text-align: right;
    .avatar{
      position: relative;
      top: 6px;
      height: 20px;
      width: 20px;
      margin: 0 4px;
      border-radius: 4px;
    }
    .pt{padding-top: 4px;}
  }


  .rIcons{
    position: absolute;
    bottom: 2px;
    right: -22px;
    .playerIcon{margin-right: 20px;}
    .counter{font-size: 9px;}
  }

  .playerIcon{
    margin-right: 8px;
    font-weight: 600;
    font-size: 12px;
    float: left;
    color: #a3adb7;

    .miLike{
      .notLiked, .liked{
        font-size: 18px;
        position: inherit;
      }
      .liked{
        color: hotpink;
        display:none;
      }
      &:hover .notLiked, &.active .notLiked{
        display:none;
      }
      &:hover .liked, &.active .liked{
        display:inline!important;
      }
    }

    .miListeners{
      font-size: 17px;
      position: relative;
      top: 1px;
      &:hover, &.active{
        color: #f8ce79;
      }
    }
    .miTracklist{
      font-size: 21px;
      top: 2px;
      position: relative;
    }
    .miShare{
      font-size: 17px;
      &.active{
       color: #43a047;
      }
    }

  }
  .counter{
    position: relative;
    font-size: 10px;
    left: 0px;
    bottom: 4px;
    font-weight: 500;
    &.ls{bottom: 3px;}
  }
}
