.tabs{
  background-color: white;
  height: 100%;
}

.tab{
  height: 100%;
  padding: 0;
  &:focus{outline: none;}
}

.pointer{
  display: none;
}

.label{
  color: rgba(255, 255, 255, 0.7);

  &.active{
    color: white;
    border-left: 3px solid white;
  }

}

.navigation{
  box-shadow: none;
  overflow-x: none;
}

.navigationContainer{
  position: fixed;
  width: 180px;
  top: 88px;
  left: 2px;

  .navigation{
    display: inline;
    label{
      padding: 10px 0px 10px 40px;
      text-align: left;
      font-size: 22px;
      text-transform: none;
      margin: 0;
    }
  }
}
