.tabs{
  height: 100%;
}

.tab{
  height: calc(100% - 100px);
  padding-bottom: 0;
}

.pointer{
  background-color: white;
}

.label{
  color: rgba(255, 255, 255, 0.7);

  &.active{
    color: white;
  }

}

.navigation{
  box-shadow: none;
  overflow-x: none;
}
